html {
    background-color: rgb(200, 225, 200);
}

body {
    // デフォルトの余白
    margin: 0;
}

h1 {
    background-color: rgb(24, 24, 116);
    color: white;
    text-align: center;
    font-size: 20px;
    // デフォルトの余白
    margin:0;
    padding-top: 20px;
    padding-bottom: 15px;
}

.top-list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap:600px;
}

// .top-list h3 {
//     margin-left: 325px;
// }

// .top-list p {
//     margin-right: 350px;
// }

table {
    margin: auto;
    border-collapse: collapse;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
}

thead th {
    text-align: left;
    padding-right: 20px;
    background: #778ca3;
    color: #ffffff;
}

tbody tr {
    background-color: #c6f6f3;
}

tbody tr:nth-child(2n+1) {
    background: #e9faf9;
}

tbody td {
    text-align: left;
    padding-right: 20px;
}

.count {
    display: flex;
    justify-content: center;
    gap:450px;
}

// 新規、編集

.each-post {
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e9faf9;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    line-height: 1;
}

.each-post > div {
    margin-top: 0;
    margin-bottom: 0;
}

.each-post-content {
    // margin-left: 77px;
    text-align: center;
}

.each-post-content p {
    margin-top: 10px;
    margin-bottom: 0;
}

.text {
    text-align: left;
    margin-left:30%;
}

.form-controll{
    width:80%;
}

.date {
    display: flex;
    justify-content: left;
    margin-left: 30%;
    gap:20px;
}

.save {
    display: flex;
    justify-content: right;
    margin-right: 30%;
    gap:20px;
}

// 詳細
.back {
    width:50%;
    text-align: center;
    padding-left: var(--bs-gutter-x,.75rem);
}
.show-edit {
    width:70%;
    text-align: right;
}

.show-table th {
    background-color: #778ca3;
}

// タブレット
@media(max-width: 1024px) {
    .each-post {
        width:80%;
    }
    .date {
        display: block;
        text-align: left;
        margin-left:30%;
    }
}